h1,
h2,
h3 {
  color: #484848;
  font-size: 2.75rem;
  line-height: 1em;
  font-weight: 100;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

p {
  color: rgb(119, 119, 119);
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid gray;
}

textarea {
  background-color: transparent;
  padding: 5px;
  border-color: gray;
}

textarea:focus,
input:focus {
  outline: none;
}

button[type='submit'] {
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  font-weight: normal;
  border: 1px solid transparent;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 52px;
  border-color: transparent;
  background: rgb(248, 210, 101);
  border-radius: 4px;
}

.picture {
  border-radius: 50%;
}

.yellow {
  color: rgb(248, 210, 101);
}

.blue {
  color: #07c;
}

.way h3 {
  font-size: 24px;
}

.dotted-gradient {
  background-image: linear-gradient( to right, rgb(248, 210, 101) 40%, rgba(255, 255, 255, 0) 20%);
  background-position: top;
  background-size: 60px 3px;
  background-repeat: repeat-x;
  height: 3px;
  width: 100%;
}

.card {
  box-shadow: 0 4px 36px 0 rgba(8, 55, 73, 0.07);
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid rgba(228, 235, 238, 0.6);
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #1e1e1ed9;
  overflow-y: scroll;
  transition: opacity 0.7s;
}

.overlay:hover {
  opacity: 1;
}

.CoachingFreelancing li {
  list-style: square inside url('../assets/Arrow.png');
  padding-bottom: 6px;
}

.FreanLanceAsService li {
  list-style: square inside url('../assets/ArrowBlue.png');
  padding-bottom: 6px;
}

.youtube-video {
  width: 640px;
  height: 390px;
}

.square li {
  color: #3c3c3c;
  list-style: none;
}

.square li::before {
  color: rgb(248, 210, 101);
  content: "■";
  font-size: 1em;
  padding-right: 1.1225em;
  position: relative;
}

.social {
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.5s;
}

.social:hover {
  opacity: 1;
}

.social-container {
  right: 30px;
  top: 90%;
  animation-duration: 1s;
  animation-name: slideUp;
}

.title {
  margin: auto;
  margin-top: 50px;
  max-width: 80%;
  animation-duration: 0.6s;
  animation-name: slideDown;
}

.secondTitle {
  width: auto;
  animation-duration: 1s;
  animation-name: slideUp;
}

.thirdTitle {
  animation-duration: 1.1s;
  animation-name: slideUp;
}

@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 480px) {
  .youtube-video {
    width: 100%;
    height: 290px;
  }
  .social-container {
    right: 10px;
    top: 0px;
  }
}